.waffleImage{
    max-width: 300px;
}

#imgurcontainer div{
    padding: 1em;
    margin: 1em auto;
    width: auto;
    background-color: #333;
    color: white;
    border-radius: 1em;
    text-align: center;
}

#giphycontainer div{
    padding: 1em;
    margin: 1em auto;
    width: auto;
    background-color: #333;
    color: white;
    border-radius: 1em;
    text-align: center;
}

#subredditcontainer div{
    padding: 1em;
    margin: 1em auto;
    width: auto;
    background-color: #333;
    color: white;
    border-radius: 1em;
    text-align: center;
}

#subredditcontainer a{
    font-size: 20pt;
    text-align: center;
    padding-left: 130px;
}   

#count{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px;
    background-color: gray;
    color: white;
    overflow-x: scroll;
    visibility: hidden;
}

#count img{
    height: 40px;
}

#imgurHeading {
    position: static;
}

#giphyHeading {
    position: static;
    text-align: right; 
}

#subredditHeading{
    position: static;
    text-align: center;
}
